.afterBlackOverlay {
    position: relative;
  }
  
.afterBlackOverlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    z-index: -2;
    height: 100vh;
}

.afterBgCut::after{
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  top: 3.5rem;
  left: 60rem;
  width: 21.85rem;
  height: 87%;
  background-color: #ffffff;
  transform-origin: center center;
  transform: translateX(-50%) skew(-35deg);
}
