.beforeBlackOverlay {
    position: relative;
  
  }
  
.beforeBlackOverlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    height: 100vh;
}

/* .beforeBgCut::before{
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  top: 6.6rem;
  left: 85rem;
  width: 25.85rem;
  height: 80%;
  background-color: #ffffff;
  transform-origin: center center;
  transform: translateX(-50%) skew(-25deg);
} */